<section class="ae-container-fluid rk-main">
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

    <div class="au-xs-ta-center au-lg-ta-left">
    </div>

    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <a routerLink="/item" class="rk-item ae-masonry__item" *ngFor="let producto of productosService.productos">
          <img src="assets/productos/{{ producto.url }}.jpg" alt="">
        <div class="item-meta">
          <h2> {{ producto.titulo }}</h2>
          <p>{{ producto.categoria }}</p>
        </div>
        </a>
    </div>
  </section>
</section>
